
/* Universal Selector and Style */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Sheared Style */


/* Header Section Designs */
.header{
    width: 100%;
    max-width: 1600px;
    
}

/* Header Nav Designs */
.header .main-nav{
    width: 100%;
    max-width: 1600px;
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
}

/* Header Content Designs */
.hero-section{
    width: 100%;
    max-width: 1600px;
    height: 760px;
    background-image: url('./images/hero-bg.png');
    display: flex;
    align-items: center;
    
}

/* Hero Content Section */

.hero-contents{
    max-width: 550px;
    height: 558px;
    margin: 0 auto;
    border: 1px solid red;
}


/* Circle Image Design Section */
.circle-image{
    max-width: 350px;
    height: 350px;
    margin: 0 auto;
}

/* Mircrophon Image Designs */

.mircrophn{
    position: relative;
    bottom: 260px;
    left: 116px;
}

/* Hero NEW Btn Design */
.circle-image .hero-new-btn{
    background-color: #00FF88;
    border: none;
    padding: 8px 16px;
    border-radius: 1000px;
   
}

/* NEW Btn Position Design */
.hero-new-btn{
    position: relative;
    bottom: 460px;
    left: 116px;
}

/* Hero Contents and Button Designs */

.hero-contents .hero-texts{
    border: 1px solid white;
    text-align: center;
    margin-top: 40px;
}